
<!-- <div>
  <label>Input a title </label>
  <input type="text" [(ngModel)]="title" />
</div>

<button class="btn btn-primary" 
            (click)="changeTitle()"
            [disabled]="btnStatus">Update Title</button> -->

<div class="container">
  <div class="row">
    <header class="col-md-12">
      <app-header></app-header>
    </header>
    <main class="col-md-12">
      <router-outlet/>
    </main>
    <footer class="col-md-12">
      <app-footer></app-footer>
    </footer>
  </div>
</div>